@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Базовые размеры */
    --max-width: 1280px;
    --page-padding: 1rem;
  }

  /* Базовый сброс */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    @apply font-sans;
  }

  html {
    font-family: sans-serif;
    font-size: 20px;
    line-height: 1.5;
  }

  body {
    min-height: 100vh;
    @apply bg-white dark:bg-gray-900 text-gray-900 dark:text-white transition-colors duration-200;
  }

  /* Центрирование основного контента */
  main {
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 0 var(--page-padding);
    width: 100%;
  }

  /* Заголовки */
  h1 {
    @apply text-3xl;
  }

  h2 {
    @apply text-2xl;
  }

  h3 {
    @apply text-xl;
  }

  h4 {
    @apply text-lg
  }

  h1, h2, h3, h4 {
    @apply font-bold text-gray-900 dark:text-white transition-colors duration-200 mb-6 mt-10;
  }


  /* Текст */
  p, li {
    @apply text-gray-700 dark:text-gray-300 transition-colors duration-200;
  }

  /* Ссылки */
  a {
    @apply text-gray-700 dark:text-gray-300 hover:text-gray-600 dark:hover:text-gray-400
           transition-colors duration-200;
  }
}
