.wrapper {
    justify-content: center;
    flex-wrap: wrap-reverse;
    padding: 25px;
    background: var(--bright);
    border-radius: 10px;
}

.info {
    display: block;
    flex: 1;
    text-align: center;
    padding: 10px;
    margin-right: 30px;
}

.img {
    border-radius: 25px;
    max-width: 400px;
    max-height: 400px;
}

@media (max-width: 768px) {
    .wrapper {
        flex-direction: column-reverse;
    }

    .img {
        max-width: 300px;
        max-height: 300px;
    }
}
