header {
    width: 100%;
    padding: 50px 0;
    justify-content: space-between;
    border-bottom: 1px solid var(--black);
    margin-bottom: 50px;
}

header > a {
    text-decoration: none;
    color: black;
}

header img {
    width: 100px;
    border-radius: 50%;
}

.logo {
    margin-left: 25px;
    flex: 1;
}

.logo > h1 {
    padding-left: 25px;
}

header > nav {
    justify-content: space-around;
    margin-right: 25px;
}

nav > a {
    flex: 1 1 auto;
    margin: 0 10px;
    color: black;
}

@media (max-width: 768px) {
    .logo {
        margin: 0;
    }

    .logo > h1 {
        padding-left: 0;
    }

    header, .logo {
        flex-direction: column;
    }

    header {
        padding: 25px 0;
    }

    header a h1 {
        padding: 0;
    }

    header > nav {
        margin-right: 0;
    }

    nav {
        padding-top: 25px;
        text-align: center;
    }

    nav > a {
        font-size: 18px;
    }
}


@media (max-width: 400px) {
    .logo > h1 {
        font-size: 20px;
    }

    nav > a {
        font-size: 15px;
    }
}

